 div{font-family:Tahoma; font-size:10px;  color:#7E7E76; }
  .title{font-family:Tahoma; font-size:10px;  color:#7C994A; text-decoration:none }
  
 a
 {
    font-family:Tahoma; font-size:10px;  color:#7C994A; text-decoration:none
 }
 a:hover
 {color:#7C0000; }

 #t1{
     float: right;
     margin-left: 10px ;
 }

 .one{
     text-align: left;
 }

 .table{
     border-collapse: collapse;
 }

 .table td{
     border: 1px solid black;
     font-size: 10px;
 }

 .infolink{
     border: 1px solid;
     padding: 5px;
 }




  
